body {
    margin: 0px;
    /*font-family: 'Didact Gothic', sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    transition: box-shadow 2s;
}

header {
    overflow: hidden;
    display: block;
    margin: 0 auto;
    z-index: 0;
}

.content {
    padding: 1em;
    padding-bottom: 0;
    margin: 0 auto;
}

.logo {
    width: 300px;
    height: 120px;
    z-index: 0;
    float: left;
    margin: 25px;
    display: inline-block;
}

form {
    float: right;
    margin: 25px;
}

/* Nav2 */
.nav {
    display: table;
    margin: 0 auto;
    min-height: 48px;
}

.topnav {
    z-index: 1;
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

.button1 {
    visibility: hidden;
}

/* button 2 */
.button2 {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button2:hover span {
    padding-right: 25px;
}

.button2:hover span:after {
    opacity: 1;
    right: 0;
}

/* slider2-element */
.slider2-element {
    position: relative;
    margin: 15px;
    border-radius: 25px;
    overflow: hidden;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(0);
    -webkit-transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
    /*ширину задаем в js*/
}

.slider2-element:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.01, 1.01)
}

.slider2-element > div {
    position: absolute;
    bottom: 0px;
    background: rgba(7, 7, 7, 0.75);
    color: white;
    width: 100%;
}

.slider2-element > div > p {
    text-align: center;
}

.slider2-element > img {
    height: 300px;
    width: 100%;
}

/* More ads */
.open-button {
    background-color: rgba(232, 76, 61, 1);
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1), shake 0.5s infinite;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0px #4444ee, 0 0 0 0px #fff,
        0 0 0 0px #4444ee, 0 0 0 0px #fff,
        0 0 0 0px #4444ee, 0 0 0 0px #fff,
        0 0 0 0px #4444ee, 0 0 0 0px #fff;
    }
    100% {
        box-shadow: 0 0 0 15px #4444ee, 0 0 0 17px rgba(255, 255, 255, 0),
        0 0 0 40px #4444ee, 0 0 0 42px rgba(255, 255, 255, 0),
        0 0 0 70px #4444ee, 0 0 0 72px rgba(255, 255, 255, 0),
        0 0 0 105px #4444ee, 0 0 0 107px rgba(255, 255, 255, 0);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 145px rgba(232, 76, 61, 0);
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 800px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*/45614*/
.nSlide {
    overflow-x: scroll;
    max-height: 600px;
    overflow-y: hidden;
    display: flex;
}

.nSlide > div {
    position: relative;
}

.nSlide > div > img:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 1.5);
}

.nSlide > div > div {
    position: absolute;
    bottom: 3px;
    left: 15px;
    width: 500px;
    background: rgba(7, 7, 7, 0.75);
    color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.nSlide > div > div > p {
    text-align: center;
}

.nSlide > div > img {
    border-radius: 25px;
    margin-left: 15px;
    width: 500px;
    height: 300px;
}

.nSlide1 {
    overflow-x: scroll;
    max-height: 600px;
    overflow-y: hidden;
    display: flex;
}

.nSlide1 > div {
    position: relative;
}

.nSlide1 > div > div {
    position: absolute;
    bottom: 3px;
    left: 15px;
    width: 250px;
    background: rgba(7, 7, 7, 0.75);
    color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.nSlide1 > div > div > p {
    text-align: center;
}

.nSlide1 > div > iframe {
    border-radius: 25px;
    margin-left: 15px;
    width: 250px;
    height: 150px;
}

.nSlide1 > div > img {
    border-radius: 25px;
    margin-left: 15px;
    width: 250px;
    height: 150px;
}

/* Border */
.content > h1 {
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
}

.border {
    display: flex;
    padding: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

.border > td {
    padding: 25px;
}

.box1 {
    font-size: 20px;
    float: left;
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
}

.box1 > img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    min-width: 200px;
    vertical-align: middle;
}

.box2 {
    text-align: center;
    border-left: solid black 5px;
    font-size: 20px;
    float: right;
    display: inline-block;
    width: calc(50% - 5px);
}

.box2 > h3 {
    text-align: center;
}

.image1 {
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
    float: right;
    width: 300px;
    height: auto;
}

div > iframe {
    width: 100%;
    height: 550px;
}

/* footer */
footer {
    padding-top: 5px;
    border-top: solid;
    border-width: 5px;
    border-color: black;
}

footer .Footer {
    margin: 0 auto;
    width: 100%;
    display: grid;
    text-align: center;
}

.tr > td {
    padding: 15px 25px;
}

.tr > td > a {
    text-decoration: none;
    color: black;
}

.FooterHide {
    display: none;
}
.tr > td > form{
    text-align: center;
    margin: 0 auto;
}
@media screen and (max-width: 1024px) {
    /* button1 */
    .button1 {
        margin-top: 20px;
        visibility: visible;
        padding: 15px 25px;
        font-size: 24px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #336933; /*#999*/
    }

    .button1:hover {
        background-color: #3e8e41
    }

    .button1:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #254b25; /*#666*/
        transform: translateY(4px);
    }

    .box1 {
        text-align: center;
        margin: 0 auto;
    }

    .box2 {
        display: none;
    }

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .nav {
        display: inline;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .Footer {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }

    .FooterHide {
        display: table;
        margin: 0 auto;
        text-align: center;
    }

    .tr > td {
        font-size: 29px;
    }
}